<form>
  <h1>New Order</h1>
        
  <fieldset>
    <legend>Customer Details</legend>

    <label for="name">Name*:</label>
    <input type="text" #name
            id="name"
            name="name"
            (keyup)="checkInput(name.value)">
          
      <label for="name">Phone no.:</label>
      <input type="text" id="phone" name="phone" #phone>
   </fieldset>

  <span>
    <button class="btn-style disabled" disabled *ngIf="isInputFieldEmpty">Start Order</button>
    <button class="btn-style" *ngIf="!isInputFieldEmpty" (click)= "submitValues(name.value, phone.value)" [routerLink]="['/dashboard']">Start Order</button>
  </span>
</form>